
.board{
		display: flex;
}
.display{
	/*single card display*/
	width: 20%;
	margin: 0px auto;
		background: #429a39;
		border: solid 5px black;
		padding: 5px;
		
		text-align: center;
		color: white;
}
.deck
{
	/*those selected already*/
	width:50%;

	margin: 0px auto;
	background:#333c87;
	border:solid 10px black;
	padding: 0px;
	
	text-align: center;
	color:white;
}

.cards { 
	/*those to be selected*/
	width: 20%;
	margin: 10px auto;
	background: #890f0f;
	border: solid 10px black;
	padding: 0px;
	/*border-radius: 10px;*/
	text-align: center;
	color: white;
}

.card
{
	/*each card*/
	padding: 0px;
	border: solid 5px #050404;
	background-color: white;
	display: inline-block;
	/*border-radius: 10px;*/
	font-size: 14pt;
	text-align: center;
	color:black;
	margin: 5px;
	width: 100px;
	height: 150px;
}
.display .card{
		padding: 0px;
			border: solid 5px #050404;
			background-color: white;
			display: inline-block;
			/*border-radius: 10px;*/
			font-size: 14pt;
			text-align: center;
			color: black;
			margin: 0px;
			width: 90%;
			height: 255px;
}



.display .card .name .energy .toughness .power .speed {
	font-size: 20pt;
	font-family: sans-serif;
	

}
.display .card .name {
	width: 140px;
	background-color: #989898;
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 1;
	height: 30px;
}
.display .card .energy {
	width: 38px;
height: 40px;
	background-color: #a19536;
	grid-area: 1 / 1;
}

.display .card .power {
	width: 38px;
	height: 40px;
	background-color: #890f0f;
}

.display .card .toughness {
	width: 38px;
	height: 40px;
	background-color: #333c87;
}

.display .card .speed {
	width: 38px;
	height: 40px;
	background-color: #429a39;
}
.display .card .type {

	background-size: 100%;
	background-repeat: no-repeat;
	min-height: 145px;
	max-width: 90%;

	margin: 10px;
	border: solid 5px black;
}



.display .grid-container2 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 25%;
}
.card .name  .energy .toughness .power .speed {
	font-size:15pt;
	font-family: sans-serif;
	height: 25px;
	
}
.card .name {
	width: 90px;
	background-color: #989898;
	grid-row-start: 1;
		grid-row-end: 2;
		grid-column-start: 1;
	height: 20px;
}
.card .energy {
width: 25px;

	background-color: #a19536;
	grid-area: 1 / 1 ;
}
.card .power {
	width: 25px;
	background-color:#890f0f;
}
.card .toughness {
	width: 25px;
	background-color: #333c87;
}

.card .speed {
	width: 25px;
	background-color: #429a39;
}
.card .type  {

	background-size: 100%;
	background-repeat: no-repeat;
	height: 77px;
	max-width: 80px;

	margin: 10px;
	border: solid 5px black;
}

#dragon
{
	background-image: url('images/dragon.jpeg');
	
}
#human {
	background-image: url('images/human.jpeg');
	
}
#elf {
	background-image: url('images/elf.jpeg');
	
}

.card .draggable{
	position: absolute;
	box-shadow: 0 0 10px rgb(114, 111, 111) inset;
}
.grid-container {
	display: grid;

	grid-template-columns: 1fr 10fr;
	align-items: start;
	grid-gap: 0px;
}
.grid-container2 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 13px;
}

                
            
